@use "../../styles/mixins.scss";

.main {
  @include mixins.mainPageStyle;
}

.hero {
  @include mixins.heroStyle;
}

.filterList {
  @include mixins.inputFieldsStyle;
  justify-content: center;
}

.filterField {
  flex-basis: 500px;
  margin-bottom: 65px;
}

.loadMoreButton {
  @include mixins.loadButtonStyle;
  margin-top: 46px;
  margin-bottom: 27px;
}
