@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.main {
  @include mixins.mainPageStyle;
  width: 100%;
  padding-top: 30px;
}

.top {
  @include mixins.top;
}

.name {
  @include mixins.fontMain400;
  font-size: 36px;
}

.episodesInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.episodeInfoItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dl {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dt {
  font-weight: 700;
  color: rgba(8, 31, 50, 1);
  font-size: 16px;
}
.dd {
  margin: 0;
  color: rgba(110, 121, 140, 1);
  font-size: 14px;
  font-weight: 400;
}

.sectionTitle {
  @include mixins.fontMain500;
  font-size: 20px;
  color: #8e8e93;
}

.castCards {
  @include mixins.mainCardsStyle;
  padding-bottom: 30px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
