@use "./variables.scss";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource-variable/karla";

@mixin sizeComponent {
  max-width: variables.$content-width;
}

@mixin fontMain400 {
  font-family: variables.$fontMain;
  font-weight: 400;
}

@mixin fontMain500 {
  font-family: variables.$fontMain;
  font-weight: 500;
}

@mixin fontSecond700 {
  font-family: variables.$fontSecond;
  font-weight: 700;
}

@mixin mainPageStyle {
  @include sizeComponent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 10px;
  box-sizing: border-box;

  @media (max-width: variables.$mobileScreen) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 30px;
  }
}

@mixin heroStyle {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding: 5px;
}

@mixin inputFieldsStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: variables.$mobileScreen) {
    flex-direction: column;
  }
}

@mixin loadButtonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mainCardsStyle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px 20px;
  box-sizing: border-box;

  @media (max-width: variables.$mobileScreen) {
    flex-direction: column;
  }
}

@mixin mainCardStyle {
  text-decoration: none;
  display: block;
  width: 100%; 
  max-width: 240px; 
  margin: 0 auto; 

  &:hover {
    outline: 1px solid black;
  }

  @media (max-width: variables.$mobileScreen) {
    max-width: 312px; 
  }
}

@mixin advancedFiltersButton($margin) {
  display: none;
  @media (max-width: variables.$mobileScreen) {
    display: block;
    width: 100%;
    margin-bottom: $margin;
  }
}
