@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.main {
  @include mixins.mainPageStyle;
}

.hero {
  @include mixins.heroStyle;
  max-width: 326px;
  align-self: center;
}

.filterList {
  @include mixins.inputFieldsStyle;
  margin-bottom: 65px;
  padding: 0 60px;

  @media (max-width: variables.$mobileScreen) {
    padding: 0;
    margin-bottom: 16px;
  }
}

.filterField {
  flex-grow: 1;
  @media (max-width: variables.$mobileScreen) {
    width: 100%;
  }
}

.loadMoreButtonContainer {
  @include mixins.loadButtonStyle;
  margin-top: 48px;
  margin-bottom: 25px;
}

.advancedFiltersButton {
  @include mixins.advancedFiltersButton(36px);
}

.filterSelect {
  @media (max-width: variables.$mobileScreen) {
    display: none;
  }
}

.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
