@use "../../styles/mixins.scss";

.main {
  @include mixins.mainPageStyle;
}

.hero {
  @include mixins.heroStyle;
}

.filterList {
  @include mixins.inputFieldsStyle;
  margin-bottom: 65px;
  padding: 0 60px;
}

.filterField {
  flex-grow: 1;
}

.loadMoreButton {
  @include mixins.loadButtonStyle;
  margin-top: 48px;
  margin-bottom: 25px;
}

.modalBox {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; 
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px; 
}


.advancedFiltersButton {
  display: none; 

  @media (max-width: 768px) { 
    display: block; 
    position: fixed; 
    bottom: 20px; 
    left: 0;
    right: 0;
    z-index: 20; 
  }
}