@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.main {
  @include mixins.mainPageStyle;
  justify-content: flex-start;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top {
  @include mixins.top;
}

.name {
  @include mixins.fontMain400;
  font-size: 36px;
}

.dl {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dt {
  font-weight: 700;
  color: rgba(8, 31, 50, 1);
  font-size: 16px;
}
.dd {
  margin: 0;
}

.locationsInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  @include mixins.fontMain500;
  font-size: 20px;
  color: #8e8e93;
}

.residentLink {
  text-decoration: none;
}

.residentCards {
  @include mixins.mainCardsStyle;
}
